body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .dashboard {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
  }

  .panel {
    box-sizing: border-box;
    width: 26%; /* Adjust as needed */
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    transition: box-shadow 0.3s ease-in-out;
  }

  .panel:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        height: 100%;
      }
   
    .panel {
      
        width: 80%;
    }
  }