

    .rectangle1 {
    height: 200px;
    width: 80%;
    margin-left:100px;
    background-color: #3498db; /* Blue */
  
    
    }
    .rectangle2 {
    height: 200px;
    width: 80%;
    margin-left:100px;
    background-color: #e74c3c; /* Red */
    margin-top: 20px;
    }

    .rectangle3 {
    height: 200px;
    width: 80%;
    margin-left:100px;
    background-color: #2ecc71; /* Green */
    margin-top: 20px;
    }

    .rectangle4 {
        height:800px;
        width: 80%;
        margin-left:100px;
        background-color: #2ecc71; /* Green */
        margin-top: 20px;
    }
    

    .home .toggle-sidebar .text-label{
        margin-left: 200px;
    }